body {
    background-color: #ffffff;
  }
  .bg-white {
    background-color: #fff;
  }
  .sidebar {
    background-color: #fff;
  }
  .box {
    background: #039fcf;
    width: calc(100% / 2 - 20px);
    color: #fff;
    
  }
  
  .box2 {
    background: #d1a206;
    width: calc(100% / 2 - 20px);
    color: #fff;
  }

  .box3 {
    background: #06d194;
    width: calc(100% / 2 - 20px);
    color: #fff;
  }
  .box .box-topic {
    font-size: 20px;
    font-weight: 500;
  }
  .box .number {
    display: inline-block;
    font-size: 35px;
    margin-top: -6px;
    font-weight: 500;
  }
  
  .box .indicator {
    font-size: 48px;
  }
  
  .led-on {
    color: rgb(144, 230, 144);
    font-weight: bold;
  }
  
  
  .buzzer-on {
    color: rgb(255, 91, 91);
    font-weight: bold;
  }
  
  .valve-shutdown {
    color: rgb(255, 91, 91);
    font-weight: bold;
  }
  
  .contactor-shutdown{
    color:crimson;
    font-weight: bold;
  }
  img.logo {
    width: 150px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 50%;

  }